resources:
  - apiVersion: slurm.nebius.ai/v1alpha1
    kind: ActiveCheck
    metadata:
      name: soperator-outputs-logs-cleaner
      namespace: ${slurm_cluster_namespace}
    spec:
      checkType: k8sJob
      suspend: true
      k8sJobSpec:
        jobContainer:
          command:
            - bash
            - -c
            - |
              set -euxo pipefail

              echo "Cleaning old Soperator outputs (health check logs) if last modify > 4 hours"

              /bin/sh -c "find /mnt/jail/opt/soperator-outputs -type f -mmin +240 -delete"
          image: cr.eu-north1.nebius.cloud/soperator/k8s_check_job:1.20.0-jammy-slurm24.05.7
          volumes:
          - name: jail
            persistentVolumeClaim:
              claimName: jail-pvc
          volumeMounts:
          - name: jail
            mountPath: /mnt/jail
      name: soperator-outputs-logs-cleaner
      schedule: "0 */2 * * *" # every 2 hours
      runAfterCreation: false
      slurmClusterRefName: ${slurm_cluster_name}
